.float-right{
    float: right;
}

mat-form-field{
    padding: 5px;
}

mat-card{
    padding-bottom: 30px !important;
}

table{
    width: 100%;
}

// ::ng-deep .highlight{
//     color: white;
//     background: #673AB7;
// }